
.main{

    background-color: red;
    overflow: hidden;

}

.main a{

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.active{

    background: red;
    color: aquamarine;
    
}

.infobl{

    background-color: azure;
    border-radius: 5px;
    font-size: 20px;

}

.zg1{
    
    font-size: 34px;

}

.obr{

    font-size: 18px;
    background-color: azure;
    display: block;

}

.oood{

    font-size: 23px;
    border-radius: 5px;

}